/* Your custom styles */
.top-nav-collapse {
    background-color: #82b1ff !important;
}

.navbar:not(.top-nav-collapse) {
    background: transparent !important;
}

@media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
        background: #82b1ff !important;
    }
}

h5 {
    letter-spacing: 3px;
}
.tour4stud-intro h5 {
    font-size: 60px;
}

.jarallax {
    height: 1000px;
}

.list_heading {
    border-bottom:1px solid #eee;
    margin-bottom:5px; 
    font-weight: bold;
  }
  .list_content {
    font-size:14px;
    text-align: justify;
  }

  ul {
      list-style:none;
  }

@media (max-width: 740px) {
    .jarallax {
        height: 300px;
    }
}

@media (min-width: 769px) and (max-width: 1025px) {
    .jarallax {
        height: 500px;
    }
}

@media (max-width:580px) {
    .tour4stud-intro h5 {
        font-size: 36px;
        padding-top: 50px;
    }
    .tour4stud-intro h6 {
        font-size: 16px;
        margin-bottom: 5px !important;
    }
    ul {
        padding: 0px;
    }
}

.tour4stud-intro {
    height: 100vh;
    background: url(../img/stud_tour_intro.png) no-repeat;
    background-size: cover;
}
.grey-overlay {
    
    top: 0;
    left: 0;
    height: 100vh;
    background: #000;
    opacity: 0.2;
    z-index: 999;
}
.tour4stud-intro h6 {
    /* letter-spacing: 0.8px; */
    word-spacing: 5px;
    
}

.tour4stud-intro h5 {
  
}

/* footer form css*/
@media (max-width:580px) {
    .mobile-icon-prefix {
        left:-8px;
    }
}
/* footer form css*/